*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.about{
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/graduate2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.about nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.about nav img{
    width: 130px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.about .nav-link ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}
.about .nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    font-weight: bold;
    /* margin-top: 20px; */
}
.about .nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}
.about .nav-link ul li:hover:after{
     width: 100%;
     transition: 0.5s;
}
.text-box h1{
    text-align: center;
    padding: 30px 0 20 0;
    color: #fff;
    font-size: 30px;
}
/* -----discr--- */
.discr{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    /* padding-bottom: 5%; */
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.text-area{
    flex-basis: 49%;
    padding: 10px;
}
.text-area h2{
    font-size: 40px;
    padding-bottom: 10px;
}
.text-area .hero-bt{
    margin-top: 0px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #777;
    background: transparent;
    padding: 12px 34px;
    font-size: 12px;
    position: relative;
    border-radius: 10px;
    transition: 2s;
}
.text-area .hero-bt:hover{
    background: #f44336;
    color: #fff;
    border-color: #fff;
}
.text-area p{
    padding: 10px 0;
    font-size: 12px;
    color: #777;
}

/* .blog-text{
    font-size: 23px;
    padding-bottom: 40px;
} */

/* --------footer------- */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    font-size: 30px;
    padding-bottom: 20px;
}
.footer p{
    color: #777;
    font-size: 12px;
}
.icon{
    display: inline-block;
    padding: 20px 0;
    /* margin: 10px 20px; */
}
.icon .fa{
    padding: 0 10px;
    cursor: pointer;
    color: #f44336;
}
.footer .fa-heart{
    color: #f44336;
}

nav .fa{
    display: none;
}

/* ------------COURSES----------- */
.course{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 5%;
    text-align: center;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.course-row{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-row:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


/*--------facilities-------------*/
.facilities{
    /* display: flex; */
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
   padding: 0;
}
.facilities-col h3{
   margin-top: 16px;
   margin-bottom: 15px;
   text-align: left;
}

/* -----------BLOG---------------- */

.progam{
    width: 80%;
    margin: auto;
     padding-top: 100px;
}
.progam{
    margin: 0 auto;
}
.container{
    flex-basis: 60%;
}
 



@media(max-width: 700px){
    .row{
        margin-top: 5%;
        display: block;
         
    }
    .text-area .hero-bt{
        margin-bottom: 10px;
    }
    .footer{
        width: 80%;
        margin: auto;
    }
    .row img{
        display: block;
        width: 90%;
        /* margin: auto; */
        border-radius: 10px;
    }
    .text-area p{
        padding-bottom: 15px;
    }
    .about .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #f44336;
        width: 200px;
        height: 40vh;
        top: 0;
        right: -200px;
        text-align: left;
        /* margin-left: 50px; */
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link{
        /* padding: 30px; */
    }
    .blog-text{
        font-size: 12px;
        padding: 10px;
    }
}